@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: white;
}

header {
  position: relative;
  font-family: "shrikhand", cursive;
  text-align: center;
  margin-top: -1rem;
  background-color: white;
}

.city-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -13px;
  height: 60px;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: 0px -4px 5px 0px #cccccc;
}
.city-search h2 {
  font-weight: 500;
}
.city-search i {
  font-size: 1.5rem;
}

.introduction {
  text-align: center;
  background-color: #f2f2f2;
  margin-top: -2rem;
}
.introduction h3 {
  font-size: 2rem;
  padding-top: 3rem;
}
.introduction p {
  font-size: 1.5rem;
}
.introduction button {
  margin-top: 2rem;
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition: transform 500ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.introduction button:hover {
  transform: scale(1.05);
  box-shadow: 0.4rem 0.4rem 10px rgba(0, 0, 0, 0.4);
  opacity: 80%;
}

.instructions {
  counter-reset: numbers-steps;
}
.instructions h3 {
  padding: 0 1rem;
  margin-top: 3rem;
}
@media (min-width: 767px) {
  .instructions h3 {
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
}
.instructions ol {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media (max-width: 650px) {
  .instructions ol {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
.instructions ol .full-color {
  background-color: #f2eafb;
}
.instructions li {
  align-items: center;
  flex-basis: 32%;
  list-style-type: none;
  background-color: #f2f2f2;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}
.instructions li::before {
  content: counter(numbers-steps);
  counter-increment: numbers-steps;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 2rem;
  min-height: 2rem;
  width: 2rem;
  min-width: 2rem;
  position: relative;
  left: -2rem;
}
.instructions i {
  color: gray;
  margin-left: -2rem;
}
.instructions .fa-store {
  color: #9356DC;
}
.instructions a {
  text-decoration: none;
  color: black;
}

.full-color {
  background-color: aqua;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 7rem;
}
.restaurants h3 {
  padding-left: 1rem;
}
@media (min-width: 767px) {
  .restaurants h3 {
    text-align: center;
  }
}

.restaurants-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .restaurants-cards {
    justify-content: center;
  }
}
.restaurants-cards a {
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 25px;
  height: 14.5rem;
  width: 23rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.card img {
  object-fit: cover;
  height: 10rem;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.card h4 {
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.badge {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 18vh;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.badge p {
  display: flex;
  background-color: #99E2D0;
  color: #278870;
  height: 2rem;
  width: 4.5rem;
  justify-content: center;
  align-items: center;
}

.img-two {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img-three {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.img-four {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.description-card {
  margin-top: -2rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
}
.description-card i {
  font-size: larger;
  padding-right: 2rem;
}

.heart-hover {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1rem;
  opacity: 0;
  transition: 500ms ease-in-out;
  position: absolute;
  right: 0rem;
  bottom: 1.95rem;
}
.heart-hover:hover {
  opacity: 1;
}

footer {
  background-color: #333333;
  color: white;
  padding-left: 1rem;
  margin-top: -2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.bold {
  font-family: "shrikhand", cursive;
  font-size: 1.5rem;
}

.bottom-information {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: -1.5rem;
}

.fa-hands-helping:before, .fa-handshake-angle:before {
  content: "\f4c4";
  margin-right: -0.3rem;
  font-size: 0.9rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}
.header-menu .fa-arrow-left {
  color: black;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.banner {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.restaurant-title {
  margin-top: -6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
}
.restaurant-title i {
  font-size: x-large;
}
.restaurant-title h2 {
  font-family: "shrikhand", cursive;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

.main {
  background-color: #f2f2f2;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main .delay-00 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 0.5s forwards;
}
.main .delay-01 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 0.7s forwards;
}
.main .delay-02 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 0.9s forwards;
}
.main .delay-03 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 1.1s forwards;
}
.main .delay-04 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 1.3s forwards;
}
.main .delay-05 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 1.5s forwards;
}
.main .delay-06 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 1.7s forwards;
}
.main .delay-07 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 1.9s forwards;
}
.main .delay-08 {
  opacity: 0;
  animation: transition 0.2s ease-in-out 2.1s forwards;
}
@media (min-width: 767px) {
  .main {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}
.main h3 {
  font-weight: lighter;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.main h3::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  height: 0.2rem;
  width: 3rem;
  left: 0rem;
  top: 1.8rem;
}

.main-card {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 100%;
  height: 4.5rem;
}
@media (min-width: 1140px) {
  .main-card {
    min-width: 20rem;
  }
}
.main-card .info-card {
  flex: 1;
  margin-top: -1.5rem;
}
.main-card .info-card .description-card {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -1rem;
  margin-left: -1rem;
}
.main-card .price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.main-card .check {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-card .check i {
  background-color: white;
  color: #99E2D0;
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  transform: rotate(180deg);
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

.main-card:hover .check {
  margin-right: -1rem;
}

.main-card:hover .fa-check {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.command {
  background-color: #f2f2f2;
  text-align: center;
  height: 100%;
  padding-bottom: 3rem;
}
.command button {
  margin-top: 2rem;
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition: transform 500ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.command button:hover {
  transform: scale(1.05);
  box-shadow: 0.4rem 0.4rem 10px rgba(0, 0, 0, 0.4);
  opacity: 80%;
}

/*# sourceMappingURL=style.css.map */
