
.loader {
    background:linear-gradient($color-primary, $color-secondary);
    -webkit-mask:radial-gradient(farthest-side,rgba(0, 0, 0, 0) calc(100% - 1rem),$color-tertiary 0);
            mask:radial-gradient(farthest-side,rgba(255, 0, 0, 0) calc(100% - 1rem),$color-tertiary 0);
    border-radius: 50%;  
    position: fixed;
    inset : calc(50% - 50px);
    animation: rotate 2s linear infinite;
    z-index: 999; 

  }
  
  @keyframes rotate {
     100% { transform: rotate(360deg); }
  }
