.font-loader {
    position: fixed;
    inset: 0;
    background-color: white;
    opacity: 0.93;
    z-index: 1;
    height: 100vh;
    animation: depop 3s forwards;
    & .loader {
        background:linear-gradient($color-primary, $color-secondary);
        -webkit-mask:radial-gradient(farthest-side,rgba(0, 0, 0, 0) calc(100% - 1rem),$color-tertiary 0);
            mask:radial-gradient(farthest-side,rgba(255, 0, 0, 0) calc(100% - 1rem),$color-tertiary 0);
        border-radius: 50%;  
        position: fixed;
        inset : calc(50% - 50px);
        animation: rotation 2s linear infinite;
    }
}

@keyframes depop {
    to {
        visibility: hidden;
    }
}

@keyframes rotation {
    100% { transform: rotate(360deg); }
}

.loader-title {
    position: fixed;
    font-family: "shrikhand", cursive;
    font-size: 2rem;
    color: darken($color-tertiary, 10%);
    top: 55vh;
    right: 42vw;
}