.banner-one {
    background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include banner;
}

.banner-two {
    background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include banner;
}

.banner-three {
    background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include banner;
}

.banner-four {
    background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include banner;
}

.restaurant-title {
    margin-top: -6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: lighten($background, 95);
    border-radius: 25px 25px 0 0;
    position: relative;

    & i {
        font-size: x-large;
        position: absolute;
        right: 1rem;
    }

    & h2 {
        font-family: "shrikhand", cursive;
        text-align: center;
        border-radius: 1rem 1rem 0 0;
    }
}

.heart-hover-menu {
    color: transparent;
    background-image: linear-gradient(to top, $color-primary,
            $color-secondary);
    -webkit-background-clip: text;
    opacity: 0;
    transition: 500ms ease-in-out;
    position: absolute;
    right: 0rem;
    bottom: 1.6rem;

    &:hover {
        opacity: 1;
    }
}

.main {
    @include animation-main;
    background-color: lighten($background, 95);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 767px) {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    padding-bottom: 1.5rem;

    & h3 {
        font-weight: lighter;
        position: relative;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    & h3::after {
        @include title-underline;
    }
}

.main-card {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: .75rem;
    margin: 1rem 0;
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    height: 4.5rem;

    @media (min-width: 767px) {
        max-width: 15rem;
    }

    & .info-card {
        flex: 1;
        margin-top: -1.5rem;
        overflow: hidden;

        & .descriptions-card {
            margin-top: -1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .title-card {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    & .price {
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
    }

    & .check {
        background-color: $color-tertiary;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;

        & i {
            background-color: white;
            color: $color-tertiary;
            border-radius: 1rem;
            height: 1.5rem;
            width: 1.5rem;
            transform: rotate(180deg);
            padding-left: 0.25rem;
            padding-top: 0.25rem;
        }
    }
}

.main-card:hover .check {
    margin-right: -1rem;
    // transition-duration: 0.3s;
}

.main-card:hover .fa-check {
    transform: rotate(360deg);
    transition-duration: 0.6s;
}

.command {
    background-color: lighten($background, 95);
    text-align: center;
    height: 100%;
    padding-bottom: 3rem;

    & button {
        @include gradient-button;
        @include border-shadows;
    }

    & button:hover {
        @include pop-up;
        @include border-shadows-hover;
        @include pop-up-color;
    }
}